.container
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);    
    gap: 50px;
}

.item
{
    border: 1px solid black;
    padding: 150px;
    text-align: center;        
}

.item:hover
{
    background-color: rgb(56, 53, 53);
    cursor: pointer;    
    color: white;
}